$dark: #0B0C10;
$lightDark: #1F2833;
$grey: #c5c6c7;
$bgGray: #FAFBFC;
$upcomingSneakerGray: #EEEFF0;
$darkGrey: #1F2833;
$lightGreen: #66FCF1;
$darkGreen: #45A29E;
$buttonHover: #3E918E;
$hoverLight: #fff;